<!DOCTYPE html>
<html>
  <head>
    <title>${title}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="${path_prefix}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="${path_prefix}css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="${path_prefix}css/style.css" rel="stylesheet" media="screen">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="${path_prefix}js/libs/html5shiv.js"></script>
      <script src="${path_prefix}js/libs/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>